* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --colorOne: rgb(218, 218, 218);
    --colorTwo: rgb(83, 83, 83);
    --colorThree: rgb(157, 158, 158);
    --colorFour: rgb(132, 124, 156);
}
a, p {
    color: var(--colorFour);
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 50px;
    background-color: var(--colorOne);
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header nav a {
    margin: 0 14px;
}
header nav a:hover {
    opacity: 0.7;
}
#nav-left {
    width: 30%;
}
#nav-right {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
#forum {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: var(--colorTwo);
    font-size: 40px;
    margin: 15px;
}

#forumList {
    background-color: aliceblue;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
#forumList form {
    width: 99%;
    padding: 1% 0;
}
table {
    width: 99%;
    border-collapse: collapse;
    background-color: var(--colorOne);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
table thead {
    text-align: center;
    border-bottom: 1px solid var(--colorThree);
    padding: 1%;
}
table thead th {
    padding: 1% 0;
}
table tbody {
    text-align: left;
}
table tbody td {
    padding: 5px;
}
/*       Titre sujet       */
table tbody tr td:first-child {
    width: 30%;
}
/*             les autres colonnes             */
table tbody tr td:not(:first-child,:nth-child(2)) {
    width: 14%;
    text-align: end;
}
/*     Nombre de message      |       Verouiller sujet       |      Supprimer sujet       */
table tbody tr td:nth-child(2),table tbody tr td:nth-child(6),table tbody tr td:nth-child(7) {
    width: 3%;
    text-align: center;
}
table td:not(:last-child) {
    border-right: 1px solid var(--colorThree);
}
table tr:nth-child(even) {
    background-color: white;
}
.gestionnaireUtilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gestionnaireUtilisateur form{
    width: 50%;
    margin-top: 3%;
    padding: 2%;
    border-radius: 5px;
}
.gestionnaireUtilisateur form div{ 
    width: 100%;
}
.gestionnaireUtilisateur form div:not(:last-child){ 
    display: flex;
    justify-content: space-between;
}
.gestionnaireUtilisateur form div:last-child{ 
    display: flex;
    justify-content: center;
}
.gestionnaireUtilisateur form div input{
    width: 50%;
}

.lockOrSupp-sujet {
    position: absolute;
    right: 7px;
    top: 7px;;
}

.message-box {
    width: 95%;
    border-radius: 5px;
    margin-bottom: 1%;
}
.message-box div:first-child {
    background-color: #f0f0f0d5;
    width: fit-content;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.message-box div:last-child {
    padding: 14px 14px 10px 14px;
    position: relative;
    background-color: var(--colorTwo);
    border-radius: 0 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.contenu-message {
    color: var(--colorFour);
    display: contents;
}
.message-box .creation-date {
    text-align: end;
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.6;
}

textarea {
    padding: 4px;
    max-width: 100%;
    min-width: 30%
}

.error-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 25px;
    text-align: center;
}